# Ignorar arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ambientes virtuais
.venv/
venv/
env/
.env

# Ignorar bancos de dados locais
*.db
*.sqlite3

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db